.table-content-mask{
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
	justify-content: center;
    font-size: 18px;

	&__block{
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 1s ease;
		background: #fff;
		padding: 10px 0;
		text-align: center;
		width: 100%;
		height: 100%;
		outline: none;
		border: 1px solid $mainColor;
	}

	&__col-location{
		cursor: pointer;
		background-color: #00599b;
		color: #fff;
		border: none !important;
		transition: all 0.5s ease 0;
		width: 60%;
		height: 90%;
		font-size: 18px;
		outline: none;
		border-radius: 5px;
	}

    &__col {
        text-align: center;
        width: 100%;

        input { 
            transition: background-color 1s ease;
            background: #fff;
            padding: 10px 0;
            text-align: center;
            width: 100%;
			height: 100%;
            outline: none;
            border: 1px solid $mainColor;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;

		&:hover {
            input {
                background: #A9BCF5;
                transition: background-color 1s ease;
            }
        }

        &_head {
            padding: 10px 0;
            background: $mainColor;
            color: #fff;
			align-items: center;
        }

		&_header{
			padding: 10px 0;
            background: $mainColor;
            color: #fff;
			align-items: center;
			border-bottom: 1px solid #fff;
		}

    }

	&__rows {
        display: flex;
        justify-content: space-between;
		height: 50px;
		
        &_head {
            padding: 10px 0;
            background: $mainColor;
            color: #fff;

        }

        &_active {
            input {
                background: #A9BCF5;
            }
        }

    }

}

.form-mask{
    display: flex;
    justify-content: center;
}

.content-mask{
    min-height: 89vh;
	background: #dbf3fc;
	background: #cbedfa;
	background: linear-gradient(135deg, rgb(219, 243, 252), rgb(158, 209, 229));

	&__button-checkout {
		background: #fff;
		color: $mainColor;
		font-size: 20px;
		font-weight: 600;
		padding: 15px 0;
		width: 200px;
		border: 1px solid $mainColor;
		cursor: pointer;
		transition: all 0.5s ease 0;

		&_active {
			background-color: #EFF5FB;
		}

		&:hover {
			background-color: #EFF5FB;
			transition: all 0.5s ease 0;
		}
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		width: 400px;
		padding: 40px 0;
	}

	&__select-type{
		position: relative;
		margin-right: 10px;
		width: 200px;

		select{
			display: block;
			width: 100%;
			padding: 10px;
			background: none;
			border: 2px solid #00599b;
			border-radius: 5px;
			-webkit-appearance: none;
			appearance: none;
			font-size: 1rem;

			option{
				background: none;
			}
		}

		select:focus{
			outline: 0;
			border-color: #00599b;
		}

		&::after{
			display: block;
			content: "";
			border-style: solid;
			border-width: 6px 5px 0 5px;
			border-color: #00599b transparent transparent transparent;
			position: absolute;
			top: 40%;
			right: 1rem;
		
		}	

	}

	&__title {
		font-size: 22px;
		font-weight: 600;
		padding: 20px 0;
	}

	&__text {
		font-size: 24px;
		font-weight: 600;
		line-height: 120%;
	}

	&__systems{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-top: 40px;
	}
	&__system{
		padding: 20px;
	}

	&__purpose {
		text-align: center;
		padding: 100px 0;

		// @media (max-width: $mobileSmall) {
		// 	padding: 80px 0;
		// }
	}

	&__auth-reg {
		width: 800px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		@media (max-width: 870px) {
			width: 100%;
		}

		@media (max-width: $mobileSmall) {
			flex-direction: column;
		}
	}

	&__button-auth,
	&__button-reg {
		width: 350px;

		@media (max-width: 870px) {
			width: 48%;
		}

		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}

	&__table {
		display: flex;
		justify-content: space-between;
	}

	&__types-work {
		display: flex;
		justify-content: space-between;
	}

	&__search-box{
		padding-top: 40px;
	}
	
	&__search{
		display: flex;
		justify-content:center;
		padding-bottom: 20px;
	}
}

.check-entrance {
	display: flex;
	justify-content: center;
	align-items:center;
	transition: background-color 1s ease;
	background: #fff;
	padding: 10px 0;
	text-align: center;
	width: 100%;
	height: 100%;
	outline: none;
	border: 1px solid $mainColor;


	&__span{
		width: 16px;
		height: 16px;
		border: 2px solid #00599b;
		margin-left: -10px;

	}
	/*&__input:checked + &__span::before{
		content: "";
		width: 8px;
		height: 8px;
		background-color: #0EA36E;
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%, -50%);

	}*/

	&__input:checked + &__span{
		background-image: url(../img/check-on.svg);
	}

	&__input:disabled + &__span{
		border-color: #ccc;
	}
	
	&__input:checked:disabled + &__span{
		background-image: url(../img/check-off.svg);
	}

	&__input:focus + &__span{
		box-shadow: 0 0 0 2px #000;
	}
}


.form{
	display: flex;
	padding: 20px;
	justify-content: space-between;

	&__text{
		font-size: 18px;
		width: 45px;
	}
}

.save-form{
	display: flex;
	justify-content: center;
}


.table-systems {
    width: 90%;
	
}

.system-block{
	color: $mainColor;
	font-size: 20px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;

	&__element{
		padding-left: 20px;
		padding-bottom: 10px;
		&:hover{
			text-decoration: underline;
		}
	}
	&__header{
		font-size: 24px;
		font-weight: bold;
	}

}


.content-maskadd{
    min-height: 89vh;
	background: #dbf3fc;
	background: #cbedfa;
	background: linear-gradient(135deg, rgb(219, 243, 252), rgb(158, 209, 229));

	&__body{
		display: flex;
		justify-content: center;
	}



	&__button-checkout {
		background: #fff;
		color: $mainColor;
		font-size: 20px;
		font-weight: 600;
		padding: 15px 0;
		width: 200px;
		border: 1px solid $mainColor;
		cursor: pointer;
		transition: all 0.5s ease 0;

		&_active {
			background-color: #EFF5FB;
		}

		&:hover {
			background-color: #EFF5FB;
			transition: all 0.5s ease 0;
		}
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		width: 400px;
		padding: 40px 0;
	}

	&__title {
		font-size: 22px;
		font-weight: 600;
		padding: 20px 0;
	}

	&__text {
		font-size: 24px;
		font-weight: 600;
		line-height: 120%;
	}

	&__systems{
		width: 800px;
		display: flex;
		justify-content:flex-start;
		flex-direction: column;
		padding-top: 40px;
	}
	&__system{
		padding: 20px;
	}

	&__purpose {
		text-align: center;
		padding: 100px 0;

		// @media (max-width: $mobileSmall) {
		// 	padding: 80px 0;
		// }
	}

	&__auth-reg {
		width: 800px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		@media (max-width: 870px) {
			width: 100%;
		}

		@media (max-width: $mobileSmall) {
			flex-direction: column;
		}
	}

	&__button-auth,
	&__button-reg {
		width: 350px;

		@media (max-width: 870px) {
			width: 48%;
		}

		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}

	&__table {
		display: flex;
		justify-content: space-between;
	}

	&__types-work {
		display: flex;
		justify-content: space-between;
	}

	&__search-box{
		padding-top: 40px;
	}
	
	&__search{
		display: flex;
		justify-content:center;
	}

	&__system-header{
		font-size: 24px;
		font-weight: bold;
	}
}

.button-add{
	display: flex;
	justify-content: center;
}

.buttonmask-content{
	width: 300px;
}



.permission-addmask {
    padding: 20px 0;

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 30px 0;
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
    }

    &__input {
        width: 70px;
        outline: none;
        margin: 0 20px 0 10px;
    }

    &__button {
		
        width: 300px;
        margin: 40px;
    }

    &__dates {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 50px 0 0;
        font-size: 18px;
        border: 1px solid $mainColor;
    }

    &__date {
        display: flex;
        justify-content: space-between;
    }

    &__col {
        text-align: center;
        border: 1px solid $mainColor;
        width: 100%;
    }

    &__item {
        margin: 40px 0 40px 20px;
    }

    &__list {
         padding:0 0 20px 0;
    }

    &__block {
        display: flex;
		justify-content: center;
    }

    &__subtitle {
        font-size: 18px;
        margin: 0 0 10px -20px;
    }

    &__textarea {
        outline: none;
        resize: vertical;
        min-height: 200px;
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    &__responsibles {
        display: flex;
        flex-direction: column;
    }

    &__responsible {
        display: flex;
        align-items: center;
        margin: 10px 0;
    }

    &__name {
         font-size: 18px;
         margin: 0 20px 0 0;
    }

    &__bottom {
        padding: 0 0 20px 0;
        display: flex;

        input {
             margin: 0 30px 0 0;
        }
    }

    &__save {
         margin: 10px 0 0 0;
    }

    &__types {
        margin: 0 0 20px 0;
    }

    &__type {
        font-size: 18px;
        margin: 0 0 20px 0;
        display: flex;
        align-items: center;
    }

    &__type-name {
        margin: 0 20px 0 0;
    }

    &__clear {
        cursor: pointer;
        color: red;
    }
}


.input-mask {
	width: 900px;
	font-size: 18px;
	padding: 10px 10px;
	border-radius: 5px;
	outline: none;
	margin: 0 0 20px 0;

	&:invalid {
		border: 2px solid #F7819F;
	}

	&:valid {
		border: 2px solid #D8D8D8;
	}

	&:focus {
		border: 2px solid $mainColor !important;
	}
}


.filter-content-mask {
	display: none;
	flex-direction: column;
	align-items: center;

	&__block {
		display: flex;
		align-items: center;
		width: 60%;
		margin-bottom: 20px;
	}

	&__select{
		text-align: center;
		width: 300px;
		height: 45px;
		border-radius: 4px;
		border: 2px solid #00599b;
		margin-right: 10px;
	}


	&__list {
		display: flex;
		flex-direction: row;
		background: #fff;
		border-radius: 5px;
		width: 960px;
		margin-left: 18px;
		padding: 10px;
	}

	&__date {
		display: flex;
		justify-content: space-between;
	}

	&__search{
		width: 600px;
		font-size: 18px;
		padding: 10px 10px;
		border-radius: 5px;
		outline: none;
	
		&:invalid {
			border: 2px solid #F7819F;
		}
	
		&:valid {
			border: 2px solid #D8D8D8;
		}
	
		&:focus {
			border: 2px solid $mainColor !important;
		}

	}

	&__icon{
		position: relative;
		width: 40px;
		top: 10px;
		left: -35px;
		height: 40px;
		font-size: 25px;
		right: 45px;
		cursor: pointer;
	}

	&__item {
		input {
			outline: none;
			color: $mainColor;
		}
	}

	&__span {
		display: inline-block;
		padding: 10px 0;
		width: 150px;
		font-size: 18px;
	}

	&__buttons {
		display: flex;
		justify-content: end;
		margin: 20px 0;
	}

	&__button {
		width: 200px;
		color: #fff !important;
		margin: 0 0 0 40px;
	}

    &__funcs {
        display: grid;
        grid-template-columns: 200px 1fr repeat(4, 200px);
        grid-gap: 10px;

        @media (max-width: 1400px) {
            grid-template-columns: 200px 1fr repeat(3, 200px);
		}
    }

	&_active {
		display: flex;
	}
}


.filter-mask{
	margin-right: 10px;
}

.filter-search{
	display: flex;
	flex-direction: row;
}